html {
  box-sizing: border-box;
}

:root{
  --color-1: #F1F1F1;
  --color-2: #CC9933;
  --color-3: #fff;
  --color-4: #A47312;
  --color-5: #F0BF5F;
  --color-6: #666;
  --color-7: #000;
  --color-8: #E9E9E9;
  --color-9: #999;
  --color-10: #333;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'), url('../fonts/MullerRegular.woff2') format("woff2");
  src: local('Muller-Regular'), url('../fonts/MullerRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'), url('../fonts/MullerLight.woff2') format("woff2");
  src: local('Muller-Light'), url('../fonts/MullerLight.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'), url('../fonts/MullerMedium.woff2') format("woff2");
  src: local('Muller-Medium'), url('../fonts/MullerMedium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'), url('../fonts/MullerBold.woff2') format("woff2");
  src: local('Muller-Bold'), url('../fonts/MullerBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background-color: var(--color-1);
}

/* glob */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  border-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 30px 15px 30px 15px;
  margin: 0 auto;
}

.section_title {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.section-offset {
  margin-bottom: 70px;
}

.btn {
  padding: 13px 20px;
  border: 1px solid var(--color-2);
  border-radius: 10px;
  background-color: var(--color-3);
  color: var(--color-2);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.btn:focus{
  background-color: var(--color-2);
  color: var(--color-3);
  transition: opacity 0.3s ease-in-out;
}
.btn:hover{
  background-color: var(--color-2);
  color: var(--color-3);
  transition: opacity 0.3s ease-in-out;
}
.btn:active{
  background-color: var(--color-4);
  color: var(--color-3);
  transition: opacity 0.3s ease-in-out;
}
/* header */

.logo {
  margin-right: 40px;
}

.logo-company {
  align-items: center;
  margin-bottom: 30px;
}

.header-contact {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-6);
  transition: color 0.3s ease-in-out;
}

.header-navigation {
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 45px;
  border-radius: 15px;
  background-color: var(--color-3);
}

.header-list-link:not(:last-child) {
  margin-right: 45px;
}
.user-account-link_svg {
  margin-right: 5px;
}
.header-link{
  transition: color 0.3s ease-in-out;
}

.one-Link_ui-kit:focus {
  color: var(--color-2);
  outline: 1px solid var(--color-2);
  outline-offset: 3px;
  transition: opacity 0.3s ease-in-out;
}
.one-Link_ui-kit:hover {
  color: var(--color-2);
  transition: opacity 0.3s ease-in-out;
}
.one-Link_ui-kit:active {
  color: var(--color-4);
  outline: none;
  transition: opacity 0.3s ease-in-out;
}
.user-account-link_svg{
  fill: var(--color-2);
  transition: opacity 0.3s ease-in-out;
}

.second-link_ui-kit:focus {
  color: var(--color-2);
  outline: 1px solid var(--color-2);
  outline-offset: 3px;
  transition: opacity 0.3s ease-in-out;
}
.second-link_ui-kit:focus svg {
  fill: var(--color-2);
  transition: opacity 0.3s ease-in-out;
}

.second-link_ui-kit:hover{
  color: var(--color-5);
  transition: opacity 0.3s ease-in-out;
}
.second-link_ui-kit:hover svg{
  fill: var(--color-5);
  transition: opacity 0.3s ease-in-out;
}

.second-link_ui-kit:active{
  color: var(--color-4);
  transition: opacity 0.3s ease-in-out;
}
.second-link_ui-kit:active svg{
  fill: var(--color-4);
  transition: opacity 0.3s ease-in-out;
}


.user-account-link {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-2);
  transition: color 0.3s ease-in-out;
}

.btn-header-link {
  margin-right: 40px;
}
/* main section special-offers */

.special-card {
  width: 100%;
}

.card-list {
  width: 50%;
  margin-right: 23px;
}

.card-two {
  position: relative;
  width: 50%
}


.card-list-item {
  position: relative;
  outline: none;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-list-item:not(:last-child){
  margin-bottom: 23px;
}

.card_title {
  margin: 0;
  margin-bottom: 15px;
  line-height: 40px;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-3);

}

.card-img-1 {
  background-image: url(../img/cart-img-1.png);
}

.card-img-2 {
  background-image: url(../img/cart-img-2.png);
}

.card {
  padding: 40px 234px 40px 40px;
  border-radius: 15px;
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.card_price {
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-3);
  opacity: 0.8;
}

.card-link {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-5);
  transition: color 0.3s ease-in-out;
}
.card-link::after{
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid var(--color-5);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-link:focus::after{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.card-link:hover {
  color: var(--color-5);
  transition: opacity 0.3s ease-in-out;
}
.card-link:hover svg {
  stroke: var(--color-5);
  margin-left: 11px;
  transition: opacity 0.3s ease-in-out;
}
.card-link:active{
  color: var(--color-3);
  transition: opacity 0.3s ease-in-out;
}
.card-link:active svg {
  margin-left: 5px;
  transition: opacity 0.3s ease-in-out;
}

.card-box_link{
  display: flex;
}
.card-box_link svg {
  margin-left: 5px;
}

.card-two {
  padding: 211px 234px 40px 40px;
  background-image: url(../img/cart-img-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.card_title-two {
  margin-bottom: 15px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: var(--color-3);
}

.card_price-two {
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 30px;
  color: var(--color-3);
  opacity: 0.8;
}

/* main section about us */
.about-us-text {
  font-size: 16px;
  line-height: 32px;
  max-width: 888px;
}

/* main section services */

.services-list {
  flex-wrap: wrap;
}

.services-list-item {
  position: relative;
  width: 572px;
  margin-bottom: 23px;
  border-radius: 15px;
  background-color: var(--color-3);
}

.services-list-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-card-img {
  object-fit: cover;
}

.services-card {
  padding: 26px 126px 50px 45px;
}
.services-card-link {
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  color: var(--color-2);
  transition: color 0.3s ease-in-out;
}

.services-card-link svg {
  stroke: var(--color-2);
}
.services-card-link_box {
  align-items: center;
}
.services-card-link_box svg {
  margin-left: 5px;
}
.services-card-link::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: inherit;
  border: 1px solid var(--color-5);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.services-card-link:focus::after{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.services-card-link:hover {
  color: var(--color-5);
  transition: opacity 0.3s ease-in-out;
}
.services-card-link:hover svg {
  margin-left: 11px;
  stroke: var(--color-5);
  transition: opacity 0.3s ease-in-out;
}
.services-card-link:active {
  color: var(--color-4);
  transition: opacity 0.3s ease-in-out;
}
.services-card-link:active svg {
  margin-left: 5px;
  stroke: var(--color-4);
  transition: opacity 0.3s ease-in-out;
}

.services-card-text {
  font-size: 16px;
  line-height: 32px;
}
/* main section advantages */

.advantages-list {
  flex-wrap: wrap;
}

.advantages-card-text {
  font-size: 16px;
  line-height: 32px;
}

.advantages-list-card {
  padding: 116px 42px 41px 45px;
  width: 275px;
  height: 275px;
  margin-bottom: 23px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-color: var(--color-3);
}

.advantages-card-img-1 {
  background-image: url(../img/advantages-card-img-1.svg);
}

.advantages-card-img-2 {
  background-image: url(../img/advantages-card-img-2.svg);
}

.advantages-card-img-3 {
  background-image: url(../img/advantages-card-img-3.svg);
}

.advantages-card-img-4 {
  background-image: url(../img/advantages-card-img-4.svg);
}

.advantages-card-img-5 {
  background-image: url(../img/advantages-card-img-5.svg);
}

.advantages-card-img-6 {
  background-image: url(../img/advantages-card-img-6.svg);
}

.advantages-card-img-7 {
  background-image: url(../img/advantages-card-img-7.svg);
}

.advantages-card-img-8 {
  background-image: url(../img/advantages-card-img-8.svg);
}

.advantages-list-card:not(:nth-child(4n)) {
  margin-right: 23px;
}


/* main section placement */

.placement-card-list {
  flex-wrap: wrap;
}

.placement-card-list-item {
  position: relative;
  width: 374px;
  margin-bottom: 23px;
}

.placement-card-list-item:focus::after {
  opacity: 1;
}

.placement-card-list-item:not(:nth-child(3n)) {
  margin-right: 23px;
  height: 452px;
}

.placement-card-item {
  border-radius: 15px;
  background-color: var(--color-3);
}

.placement-card-item-info {
  padding: 36px 46px 41px 45px;
}

.placement-card-price {
  font-size: 16px;
  line-height: 16px;
  color: var(--color-9);
}

.price {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: var(--color-7);
}

.price-text {
  color: var(--color-7);
}

.placement-card-adress {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-9);
}

.placement-card-price-start {
  margin-bottom: 16px;
  justify-content: space-between;
}

.placement-card-namehotel {
  margin-bottom: 16px;
}

.placement-img {
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  padding-bottom: 27px;
  background-image: url(../img/placement-9.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.placement-card-list-link {
  padding-right: 17px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  background-image: url(../img/placement-vector.svg);
  background-repeat: no-repeat;
  background-position: right;
  color: var(--color-3);
}
.placement-card-list-link::after{
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  outline: none;
  opacity: 0;
}


/*   Form   */

.form {
  margin: 20px 45px 0px 45px;
  border-radius: 15px;
  background-color: var(--color-3);
}

.container-form {
  border-radius: 15px;
  padding-bottom: 45px;
  background-color: var(--color-8);
}

.form-tour {
  background: var(--color-8);
}

.form-title {
  display: inline-block;
  margin-top: 38px;
}

.form-in {
  padding: 31px 28px;
  justify-content: space-between;
}

.form-text-title {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-7);
;
}
.form-btn {
  align-self: flex-end;
  height: 42px;
}

.form-style {
  width: 121px;
  border: none;
}
.input-place {
  width: 169px;
  margin-left: -5px;
}
.input-user {
  border-bottom: 1px solid var(--color-8);
}

.input-days {
  border-bottom: 1px solid var(--color-8);
}

/* Contacts */

.contacts-background {
  padding: 45px;
  border-radius: 15px;
  background: var(--color-3);
}

.contact-title {
  flex: 1;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.contact-list {
  width: 375px;
  margin-right: 53px;
}

.contacts-items {
  justify-content: space-between;
}

.contact-item {
  padding-bottom: 23px;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--color-8);
}

.text-contact-item {
  flex: 1.5;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.contact-phone {
  flex: 1.5;
}

.contact-email {
  flex: 1.5;
}
.contact-btn {
  margin-top: 20px;
  padding: 25px 35px;
}

.link-contact {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-2);
  transition: color 0.3s ease-in-out;
}

.contact-text-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-9);
}
.img-contact {
  max-width: 653px;
  max-height: 528px;
}

/*Footer*/

.footer-background {
  padding: 45px 45px 45px 45px;
  border-radius: 15px;
  background:var(--color-10);
  background-repeat: no-repeat;
  background-position: 80% 100%;
}

.background-img {
  background-image: url("../img/footer-background.png");
}

.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-3);
}

.footer-items {
  justify-content: space-between;
}

.footer-item-list-info {
  margin-bottom: 40px;
}

.footer-item-list-contact {
  flex-direction: column;
  margin-bottom: 15px;
}

.footer-item-list-contact:last-child {
  margin: 0;
}

.footer-item-list-info:last-child {
  margin: 0;
}

.footer-social {
  margin-left: 150px;
}

.footer-item-social {
  margin-bottom: 20px;
}
.footer-item-social:last-child {
  margin: 0;
}
.footer-link{
  transition: color 0.3s ease-in-out;
}
.footer-link:focus path{
  fill: var(--color-2);
  transition: opacity 0.3s ease-in-out;
}
.footer-link:hover path{
  fill: var(--color-2);
  transition: opacity 0.3s ease-in-out;
}
.footer-link:active path{
  fill: var(--color-4);
  transition: opacity 0.3s ease-in-out;
}
